tensorflow
altair
beautifulsoup4
bokeh
bottleneck
cloudpickle
cython
dask
dill
h5py
ipympl
ipywidgets
jupyter
jupyterlab
matplotlib
numba
numexpr
notebook
numpy
matplotlib
pandas
patsy
protobuf>=3.9.2
importlib-metadata>=4.4
tables
scikit-image
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
sympy
widgetsnbextension
xlrd
rpyc
opencv-python
cloud-tpu-client
